#home{
    text-align: center;
}
#home .row{
    justify-content: center;
    color: #ffffff;
}
#home .row .title{
    font-size: 35px;
}
#home .decorator{
    position: relative;
    margin: auto;
    height: 3px;
    width: 300px;
    background-color: #CC9746;
}
.reserve .container{
    flex-wrap: wrap;
    display: flex;
    margin-right: 120px;
    margin-left: 120px;
    justify-content: center;
}
.reserve .title{
    padding-top: 20px;
    color: #ffffff;
}
.reserve .row{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #373736;
    color: #ffffff;
}
.reserve .container{
    text-align: left;
    margin-top: 30px;
}
.reserve .decorator{
    position: relative;
    margin: auto;
    height: 3px;
    width: 300px;
    background-color: #CC9746;
}
.reserve .row .container .box{

    margin-bottom: 30px;
    width: 600px;
    float: left;
    padding-right: 15px;
    padding-left: 15px;

}
.reserve .row .container .box input {
    font-size: 18px;
    padding-left: 10px;
}
.reserve .row .container textarea {
    font-size: 18px;
    padding-left: 10px;
}
.reserve .row .container select {
    font-size: 18px;
    padding-left: 10px;
}


.reserve .row .container .box.wider{
    vertical-align: top;
    width: 100%;
    float: none;
    padding-right: 15px;
    padding-left: 15px;

}
.reserve .row .container .box .msg{
    height: 200px;

}
.select{
    cursor: pointer;
    float: none;
}
.reserve .row .container .form{
    width: 100%;
    padding: 12px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    box-shadow: none;
    color: #2d3436;
    border: #2d3436 solid 1px;
    font: normal 14px;
}
.btn{
    background-color: #F4AA40;
    width: 120px;
    height: 50px;
    border: none;
    margin: 20px;
    font-size: 20px;
}
.submit{
    text-align: center;
}
textarea {
    resize: none;
}