@media only screen and (max-width: 1000px){
    #home .main-box .desc{
        padding-top: 150px;
        filter: none;
        position: relative;
        color: #ffffff;
        margin: 0px;
    
    }
    #home .main-box{
        text-align: center;
        height: 500px;
        background-image: url(/img/luks4.jpg);
        background-size: cover;
        background-position: center;
    }
    footer .img{
        vertical-align: middle;
        text-align: center;
    }
    footer .contact{

        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
       
    }
    footer .info-column{
        display: table-cell;
        width: 100%;
        line-height: 40px;
        margin-bottom: 30px;
        
    }
    footer .info{
        height: 850px; 
    }


}
@media (max-width: 1500px){
    #cars .row .container{
        flex-wrap: wrap;
    }
    header .header{
        margin-left: 0;
        margin-right: 10px;
    }
    header .header .logo{
        margin-left: 20px;
    }
    #offer .row .container .box{
        flex: 0 0 50%;
        max-width: 50%;
    }
    #offer .row .container{

        margin-right: 50px;
        margin-left: 50px;
    }
    .reserve .row .container{

        margin-right: 50px;
        margin-left: 50px;
    }
    #gallery .row .container{
        margin-left: 10px;
        margin-right: 10px;
    }
    #gallery .row .container .box{
        width: 600px;
    }
    .offer .row .container .box  .logo_big{
        display: none;
    }
    .offer .row .container .box{
        flex: 100%;
    }
    .car  .row .img img{
        float: left;
    }
    .car .row .container{
        display: inline;
        

    }
    .car .row .img{
        margin-right: 0;
        float: left;

    }
    .car .row .img img{
        margin-bottom: 50px;
        height: 50%;
    }
    .car .row .text{
        float: right;
    }
    

}
@media (max-width: 1330px){
    header .navbar-center ul li{
        margin-left: 20px;
        transition: 1s;
    }
    header .navbar-center .lang ul li{
        margin-left: 10px;
        transition: 1s;
    }
}
@media (max-width: 1170px){
    .menu-icon , #checkbox{
        font-size: 2.4em;
        color: #ffffff;
        line-height: 50px;
        cursor: pointer;
    }
     nav {
        position: absolute;
        background-color: #373736;
        top:100px;
        left:0;
        width: 100%;
    }
    .menu{
        padding-left: 50%;
    }
     nav ul {
        list-style-type: none;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.5s;
        display: flex;
        
        flex-wrap: wrap;
    }
    nav ul li {
        padding-top: 20px;
        width: 100%;
    }
     nav ul li a {

        padding: 25px;
        color: #DAE1E7;
        text-decoration: none;
    }
    nav ul li a:hover, nav ul li a:focus {
        color: #CC9746;
    }
    #checkbox {
        display: none;
    }
    #checkbox:checked ~ nav ul {
        max-height: 500px;
        padding: 15px 0;
        transition: all 0.5s;
    }
}
@media (min-width: 1170px){
    header .header .menu-icon, #checkbox {
        display: none;
    }
}

@media (max-width: 900px){
    #cars .row .container .box{
        width: 80px;

    }
    #offer .row .container .box{
        flex: 0 0 100%;
        max-width: 200%;
    }
    #offer .row{
        margin-right: 10px;
        margin-left: 10px;
    }
    #offer .row .container{

        margin-right: 10px;
        margin-left: 10px;
    }
    #about .main-box .content{
        margin-left: 10px;
        margin-right: 10px;
    }
    #gallery .row{
        margin-left: 5px;
        margin-right: 5px;
    }
    #gallery .row .container{
        margin-left: 10px;
        margin-right: 10px;
    }
    #gallery .row .container .box{
        width: 600px;
    }
    #home .row{
        margin-left: 0;
        margin-right: 0;
    }
    #gallery .row{
        margin-left: 0;
        margin-right: 0;
    }
    .reserve .row{
        margin-left: 10px;
        margin-right: 10px;
    }
    footer .copyright{
        font-size: 15px;
    };
    .actual .row{
        margin-left: 5px;
        margin-right: 5px;
    }
    .prize .row{
        margin-left: 5px;
        margin-right: 5px;
    }
    .header .navbar-left{
        width: 30px;
    }
}
@media (max-width: 500px){
    #cars{
        display: none;
        transition: 1s;
    }
    #home .main-box .desc{
        color: #ffffff;
        padding-top: 550px;
        margin: 0px;
        transition: 1s;
    }
    #gallery .row .title{
        margin-top: 550px;
    }
    #about .main-box .row{
        margin-left: 0;
        margin-right: 0;
    }
    .car .row {
        margin-left: 9px;
        margin-right: 5px;
    }


}

@media (max-width: 400px){
    #home .main-box{
        height: 200px;
    }
    #home .main-box .desc{
        color: #ffffff;
        padding-top: 220px;
        transition: 1s;
    }
    .header .logo{
        display: none;
    }
    .header .menu{
        padding-left: 20%;
    }
    #home .logo{
        display: inline;
        width: 80%; 
        padding-top: 12%;
        margin-bottom: -100px;
    }

}
