*{
    box-sizing: border-box;
    margin:0;
    scrollbar-width: thin;
}
  *::-webkit-scrollbar {
    width: 10px;
    margin-top: 20px;
    background: #1A1A1A;
  }
  *::-webkit-scrollbar-thumb {
    background-color:  #ffffff;
  }
@media only screen {

html{
    scroll-behavior: smooth;
    hyphens: manual;

}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    color: #404040;
    font-weight: 300;
    overflow-x: hidden;
    background-color: #1A1A1A;
}
header{
    height: 100px;
    position: sticky;
    top: 0;
    background-color: #181612;
    border-bottom:solid #CC9746 3px;
    z-index: 99999999;
}
header .header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap; 
    margin-left: 80px;
    margin-right: 80px;
    height: 100px;
    font-size: 16px;
    font-weight: 400;
}


header .navbar-center ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar-center ul li{
    display: inline-block;
    position: relative;
    margin-left: 38px;
    transition: 1s;

}
header .lang ul li{
    margin-left: 5px;

}
header .navbar-center ul li a::before{
    content:'';
    height: 7px;
    background-color: #CC9746;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 52px;
    transition: all .5s ease;
}
header .navbar-center ul li a:hover:before{
    width: 100%;
    left: 0;

}

header .navbar-center ul li a#active:before{
    width: 100%;
    left: 0;
    transition: all .5s ease;
} 
}
.row{
    margin-left: 80px;
    margin-right: 80px;
}
.link{
    text-decoration: none;
    color: #ffffff;
}
.navbar-left .logo{
    margin-left: 100px;
    height: 60px;

}
.main{
    width: 100%;
}
.row{
    margin-top: 100px;
    margin-bottom: 100px;
}
#cars .row .container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}
#cars .row .container .box{
    max-width: 200px;
    margin-left: 40px;
    margin-right: 40px;

}
#cars .row{
    border-bottom:solid #CC9746 3px;

}
#cars .car_logo{
    width: 70%;
}
#cars .arrow{
    position: relative;
    width: 100px;
    left: 50%;
    bottom: 50px;
    transform: translate(-10%,-10%);
}
#cars .arrow span{
    display: block;
    width:20px;
    height: 20px;
    border-bottom: 3px solid #CC9746;
    border-right: 3px solid #CC9746;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}

#gallery .row .container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 30px;
}
#gallery .row .container .box{
    width: 500px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    min-height: 120px;
    text-decoration: none;
    transition: 0.5s;
    position:relative;
}

#gallery .row .container .box a .button-box{
    opacity: 1;
    font-weight: 600;
    font-size: 120%;
    position: relative;
    top: -50%;

}
#gallery .row .container .box a:hover .img{
    filter: grayscale(100%);
    cursor: pointer;
}
#gallery .row .container .box a:hover .button-box{
    color: #CC9746;
    transition: 0.5s;
    background: #1A1A1A;
} 
#gallery .row .container .box a{
    color: #ffffff;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

#gallery{
    text-align: center;

}
#gallery .row .title{
    font-size: 30px;
    color: #ffffff;
}
#gallery .row .under-title{
    font-size: 20px;
    opacity: 50%;
    color: #ffffff;
}
#gallery .row .container .box a .img{
    width: 100%;
    height: auto;
    filter: brightness(70%);
}

.button-box{
    min-width: 210px;
    height: 58px;
    display: inline-flex;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    border: solid 2px currentColor;
    font-weight: bold;
    transition: all 0.3s;
    background: transparent;
    cursor: pointer;
}


#home .main-box{
    height: 50vh;
    hyphens: manual;
    background-image: url(/img/luks3.jpg);
    background-size: cover;
    background-position: center;
    border-bottom:solid #CC9746 3px;
    transition: 1s;
}
#home .logo{
    display: none;

}
#home .main-box .desc{
    padding-top: 8%;
    filter: none;
    position: relative;
    color: #ffffff;
    margin-left: 80px;
    transition: 1s;

}
#home .main-box .desc .title{
    font-family: "Lato", lato;
    font-size: 57px;
    font-weight: 300;
    margin-top: 0;
    text-transform: none;

}
#home .main-box .desc .under-title{
    font-family: "Lato", lato;
    font-size: 37px;
    font-weight: 300;
    margin-top: 0;
    text-transform: none;
    margin-left: 25px;
}
#about{
    background-color: #373736;
    text-align: center;
    border-bottom:solid #CC9746 3px;
    color: #ffffff;
}
#about .main-box .title{
    font-size: 30px;
    padding-top: 50px;
}
#about .main-box .content{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.decorator{
    position: relative;
    margin: auto;
    height: 3px;
    width: 300px;
    background-color: #CC9746;
    top: -15px;
}
#offer{
    text-align: center;
    color: #ffffff;
}
#offer .row .title{
    font-size: 30px;
}
#offer .row .title{
    font-size: 30px;
}
#offer .row .under-title{
    font-size: 20px;
    opacity: 50%;
}
#offer .row .container{
    flex-wrap: wrap;
    display: flex;
    margin-right: 120px;
    margin-left: 120px;
    cursor: default;

}
#offer .row .container .box{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-right: 15px;
    padding-left: 15px;
    transition: 0.5s;
}
#offer .row .container .box .content{
    height: 90%;
    color: #ffffff;
    border-radius: 5px;
    background-color: #373736;
    padding: 30px;
    margin-bottom: 30px;
    transition: 0.2s;

}
#offer .row .container .box .content .title{
    font-size: 20px;
    font-weight: 550;
    transition: 0.2s;
}
#offer .row .container p{

    font-size: 17px;
}

.title{
    margin: 30px;
}

.bold{
    font-weight: 700;
}

footer .info{

    height: 500px;
    background: #181612;
    color: #ffffff;
    line-height: 500px;
    border-bottom:solid #CC9746 3px;
    border-top:solid #CC9746 3px;
}
footer .contact{
    display: table;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    font-weight: 50;
    font-size: 18px;
    padding: 140px 60px;
}
footer .info-column{
    display: table-cell;
    line-height: 40px;
}
footer .img{
    vertical-align: middle;
    text-align: left;
}
footer .logo{
    height: 80px;
}

.map iframe{
    width: 100%;

}
footer .copyright{
    color: #ffffff;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
footer .social{
    padding-top: 80px;
    width: 50px;
}
footer a{
    color: #CC9746;
}


.box:hover .content{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;

}
.box:hover .title{
    color: #CC9746;
    transition: 0.5s;
}
::selection {
    background-color: #fab700;
    color: #fff;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-10px,-10px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(10px,10px);
    }
}